custom
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  border-radius: 0px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section-heading, .section-description {
  margin-bottom: 1.2rem;
}


/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.categories {
  background-size: cover;
}

.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */

@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
  }
  .hero-heading {
    font-size: 3rem;
  }
}

/* Bigger than 750 */

@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone+.phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */

@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    /* padding: 22rem 0; */
    padding-top: 12rem;
  }
  .hero-heading {
    font-size: 3.5rem;
  }
}